* {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 5px;
}

h2 {
	font: bold 14px Arial, Helvetica, sans-serif;
	padding: 5px;
}

header,
nav,
section,
article,
aside,
footer {
	display: block;
}

body {
	text-align: center;
	color: white;
}

.group {
	background-color: #1e272e;
}

.header {
	background-color: #1e272e;
	border: 1px solid #d2dae2;
	padding: 20px;
}

.menu {
	background-color: #808e9b;
	padding: 10px;
	border: 1px solid #d2dae2;
}

.menu li {
	list-style: none;
	padding: 10px 50px;
	margin-inline: 100px;
	font: bold 15px Arial, Helvetica, sans-serif;
	display: inline-block;
	border: 1px solid #d2dae2;
}

.section {
	margin: 50px;
	width: 50%;
	float: left;
}

article {
	background-color: #485460;
	border: 1px solid #d2dae2;
	padding: 20px;
	margin-bottom: 30px;
}

time {
	font: lighter 15px Arial, Helvetica, sans-serif;
	padding: 5px;
}

article footer {
	text-align: right;
}

.side {
	margin: 50px 20px;
	width: 30%;
	float: left;
}

.side blockquote {
	background-color: #485460;
	border: 1px solid #d2dae2;
	padding: 170px;
	margin-bottom: 30px;
}

.footer {
	clear: both;
	font: bold 15px Arial, Helvetica, sans-serif;
	padding-block: 30px;
}

img {
	width: 80px;
	display: block;
	margin: 20px auto;
}

address {
	font: bold 15px Arial, Helvetica, sans-serif;
}
